.works {
  color: $white;
  background: $black;
  
  // margin: 0 50px;
  // width: calc(100% - 100px);
  
  @include media-max(sm) {
    margin: 0;
    width: 100%;
    padding-bottom: space(12);
  }

  &__item {
    margin-left: auto;
    margin-right: auto;
    margin-top: space(12);

    @include media-max(sm) {
      margin-top: space(4);
    }
  }

  &__header {
    align-self: center;

    .left & {
      @include set-col(s, 4);
      @include set-col(sm, 2);
      @include set-col(lg, 5);
    }
    
    .right & {
      @include set-col(s, 4);
      @include set-col(sm, 2, 3);
      @include set-col(lg, 5, 8);
    }

    @include media-max(sm) {
      //text-align: center;

      .title_desc {
        //max-width: 600px;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: space(2);
      }
    }
  }

  &__title {
    padding-top: space(2);
    font-family: $font_extra;
    hyphens: auto;
  }
  
  &__intro {
    padding: space(2) 0;
  }

  &__image {
    position: relative;
    overflow: hidden;

    // box-shadow: rgba(0, 0, 0, 0.05) 0 10px 20px 0px, rgba(0, 0, 0, 0.02) 0px 3px 3px 0px;
    
    .left & {
      @include set-col(s, 4);
      @include set-col(sm, 2);
      @include set-col(lg, 6, 7);
    }
    
    .right & {
      @include set-col(s, 4);
      @include set-col(sm, 2, 1);
      @include set-col(lg, 6, 1);

      @include media-min(sm) {
        grid-row-start: 1;
      }
    }

    .inner_image {
      overflow: hidden;
    }
    
    img {
      width: 100%;
      height: auto;
    }
    
  }

  &__desc {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    list-style: none;
    padding: 0;
    padding-top: space(5);

    @include media-max(sm) {
      margin-bottom: space(2);
      justify-content: space-around;
    }
    
    li {
      margin-left: space(6);

      &:nth-child(1) {
        margin-left: 0;
      }

      @include media-max(sm) {
        margin-left: 0;
      }
    }

    .title {
      font-family: $font_terc;
      @include rem-size(12);
    }
  }
}